{% extends "base.html" %}

{% block content %}

{% include "nav.html" %}

<!-- Team -->
<div class="container bg-light">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Crabby Cabi Team</h2>
            <h3 class="section-subheading text-muted">The team that made you Crabby</h3>
        </div>
    </div>
</div>

    <div class="container">
        <div class = "row justify-content-md-center">
                <div class="col-md-auto">
                        <div class="card text-black bg-light mb-3" style="max-width: 30rem;">
                                <div class="card-body">
                                 <img class="mx-auto rounded-circle" src="../static/img/tom.png" alt="Thomas Dirienzo" width="200" height="200">
                                 
                                 <h4 class="card-title">Thomas P. Dirienzo</h4>
                                 <ul class="social-buttons">
                                     <li class="list-inline-item">
                                            <a href="">
                                                <i class="fab fa-linkedin-in"></i>
                                              </a>
                                              <a href="https://github.com/TPD119">
                                                  <i class="fab fa-github"></i>
                                              </a>

                                     </li>
                                 </ul>
                                </div>
                        </div>
                </div>

                <!-- Team 2-->
                <div class="col-md-auto">
                        <div class="card text-black bg-light mb-3" style="max-width: 30rem;">
                                <div class="card-body">
                                 <img class="mx-auto rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbRiWEGZ9DVVYkiGM8uiBZBD9XeBvj9o66SlRpsm8otUckXiS30Q" alt="Pat Wolfe" width="200" height="200">
                                 
                                 <h4 class="card-title">Pat J. Wolfe</h4>
                                 <ul class="social-buttons">
                                     <li class="list-inline-item">
                                            <a href="">
                                                <i class="fab fa-linkedin-in"></i>
                                              </a>
                                              <a href="https://github.com/patjwolfe">
                                                  <i class="fab fa-github"></i>
                                              </a>

                                     </li>
                                 </ul>
                                </div>
                        </div>
                </div>
        </div>
        <div class = "row justify-content-md-center">
                <div class="col-md-auto">
                        <div class="card text-black bg-light mb-3" style="max-width: 30rem;">
                                <div class="card-body">
                                 <img class="mx-auto rounded-circle" src="../static/img/chidi.png" alt="test 1" width="200" height="200">
                                 
                                 <h4 class="card-title">Chidi Ogbejesi</h4>
                                 <ul class="social-buttons">
                                     <li class="list-inline-item">
                                            <a href="">
                                                <i class="fab fa-linkedin-in"></i>
                                              </a>
                                              <a href="https://github.com/alpeshpatelgwu">
                                                  <i class="fab fa-github"></i>
                                              </a>

                                     </li>
                                 </ul>
                                </div>
                        </div>
                </div>

                <!-- Team 2-->
                <div class="col-md-auto">
                        <div class="card text-black bg-light mb-3" style="max-width: 30rem;">
                                <div class="card-body">
                                 <img class="mx-auto rounded-circle" src="../static/img/pesh.png" alt="test 1" width="200" height="200">
                                 
                                 <h4 class="card-title">Alpesh I. Patel</h4>
                                 <ul class="social-buttons">
                                     <li class="list-inline-item">
                                            <a href="https://www.linkedin.com/in/pesh/">
                                                <i class="fab fa-linkedin-in"></i>
                                              </a>
                                              <a href="https://github.com/alpeshpatelgwu">
                                                  <i class="fab fa-github"></i>
                                              </a>

                                     </li>
                                 </ul>
                                </div>
                        </div>
                </div>
        </div>

            


    </div>


{% include "footer.html" %} 

{% endblock %}
